<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xtzn.mapper.IIosSystemVersionMapper">
    <resultMap type="com.xtzn.mapper.entity.IosSystemVersion" id="iosSystemVersionResultMap">
        <id column="ID" jdbcType="INTEGER" property="id"/>
        <result column="VERSION_NUMBER" jdbcType="VARCHAR" property="versionNumber"/>
        <result column="IOS_SYSTEM" jdbcType="VARCHAR" property="iosSystem"/>
    </resultMap>
    <sql id="sql_base">
     ID,VERSION_NUMBER,IOS_SYSTEM
  </sql>
    <select id="selectIosSystemVersionByPage" resultMap="iosSystemVersionResultMap">
        select
        <include refid="sql_base"/>
        from ios_system_version order by ID DESC
    </select>
    <select id="selectAllIosSystemVersionByPage" resultMap="iosSystemVersionResultMap">
        select
        <include refid="sql_base"/>
        from ios_system_version order by ID DESC limit #{skips,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
    </select>
    <select id="selectIosSystemVersionByGroup" resultType="java.util.Map">
    select IOS_SYSTEM iosSystem,group_concat(VERSION_NUMBER) as versionNumber from ios_system_version group by IOS_SYSTEM
  </select>
    <select id="selectCount" resultType="java.lang.Integer">
    select count(*) from ios_system_version
  </select>
    <select id="selectIosSystemVersionById" resultMap="iosSystemVersionResultMap">
        select
        <include refid="sql_base"/>
        from ios_system_version where ID = #{id,jdbcType=INTEGER}
    </select>
    <insert id="insertIosSystemVersion">
    insert into  ios_system_version values(null,#{versionNumber,jdbcType=VARCHAR},#{iosSystem,jdbcType=VARCHAR})
  </insert>
    <update id="updateIosSystemVersion">
    update ios_system_version set VERSION_NUMBER = #{versionNumber,jdbcType=VARCHAR},IOS_SYSTEM = #{iosSystem,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
    <delete id="deleteById" parameterType="java.lang.Integer">
    delete from ios_system_version
    where ID = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteBatchById" parameterType="java.util.List">
        delete from ios_system_version
        where ID in
        <foreach collection="list" index="index" item="id"
                 separator="," open="(" close=")">
            #{id,jdbcType=INTEGER}
        </foreach>
    </delete>
</mapper>