<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xtzn.mapper.IRetainedProgramMapper">

    <sql id="sql_base">
    ID id, PROGRAM_NAME programName,PROGRAM program,STATUS status
  </sql>
    <select id="selectRetainedProgramByPageIndex" resultType="com.xtzn.mapper.entity.RetainedProgram">
        select
        <include refid="sql_base"/>
        from retained_program where USER_ID = #{userId,jdbcType=INTEGER} limit
        #{skips,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
    </select>
    <select id="selectUsingRetainedProgram" resultType="com.xtzn.mapper.entity.RetainedProgram">
        select
        <include refid="sql_base"/>
        from retained_program where USER_ID = #{userId,jdbcType=INTEGER} and STATUS = 1
    </select>
    <select id="selectRetainedProgramById" resultType="com.xtzn.mapper.entity.RetainedProgram">
        select
        <include refid="sql_base"/>
        from retained_program
        where ID = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectCount" resultType="java.lang.Integer">
    select count(*) from retained_program  where USER_ID = #{userId,jdbcType=INTEGER}
  </select>
    <insert id="insertRetainedProgram" parameterType="com.xtzn.mapper.entity.RetainedProgram">
    insert into retained_program (ID,PROGRAM_NAME,PROGRAM,STATUS,USER_ID)
    values (null, #{programName,jdbcType=VARCHAR},#{program,jdbcType=VARCHAR},1,#{userId,jdbcType=INTEGER})
  </insert>
    <delete id="deleteById" parameterType="java.lang.Integer">
    delete from retained_program
    where ID = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteBatchById" parameterType="java.util.List">
        delete from retained_program
        where ID in
        <foreach collection="list" index="index" item="id"
                 separator="," open="(" close=")">
            #{id,jdbcType=INTEGER}
        </foreach>
    </delete>
    <update id="updateRetainedProgramStatus">
    update retained_program set STATUS = #{status,jdbcType=TINYINT}
    where ID = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateRetainedProgramContent" parameterType="com.xtzn.mapper.entity.RetainedProgram">
    update retained_program set PROGRAM_NAME = #{programName,jdbcType=VARCHAR},PROGRAM = #{program,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>